= form_tag register_by_urls_words_path, method: :post do
  = text_area_tag :urls, '', placeholder: '１行に１URLをかいてください', rows: 10, cols: 100
  = button_tag '取得', class: 'button', data: {'disable-with' => "更新中..."}
