<!DOCTYPE html>
<html>
<head>
  <title>KW</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'shared/header' %>
<%= yield %>

</body>
</html>
